* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  background: black;
}

.row {
  width: 50%;
  text-align: center;
}

.text {
  height: 100%;
  width: 20%;
  letter-spacing: 2px;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.images {
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
          align-items: center;
  width: 80%;
}

.images .pic {
  height: 150px;
  width: 150px;
  border: 1px solid white;
  margin: 5px;
}

.navigation {
  position: fixed;
  width: 100%;
  color: white;
  text-align: center;
}

.navigation ul {
  list-style: none;
  position: absolute;
  left: 35%;
}

.navigation ul li {
  display: inline-block;
  margin: 15px 0 25px 25px;
}

.navigation ul li a{
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
}

.navigation ul li a:hover{
  border-bottom: 2.5px solid white;
}

.landing {
  height: 100vh !important;
  background-image: url('../assets/images/so.jpg');
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.landing .x {
  height: 100px;
  width: 100px;
}

#arrow {
  height: 25px;
  width: 45px;
  vertical-align: bottom;
-webkit-animation-duration: 2s;
-webkit-animation-delay:2s;

  position:absolute;
  bottom: 20px;
  right: 51%;
  left: 49%;

}

.second {
  height: 100vh !important;
  background-image: url('../assets/images/sierra.png');
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  color: white;
  display: flex;
 -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

.idea {
  color: white;
  height: 100vh !important;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.idea video {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1000;
}

.team {
  height: 100vh !important;
  background: #171716;
  color: white;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.speakers {
  height: 100vh !important;
  background: #171716;
  color: white;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.big {

  font-size: 50px
}

.ted {

 height: 60px;
 width: 160px; 
 margin-left: 5vh;
 margin-top: 2vh;
}


.patros {

  height: 100vh !important;
  background: #171716;
  color: white;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

}

.faq {
  height: 100vh !important;
  background: #171716;
  color: white;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.questions {
  height: 100vh !important;
  
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  color: white;
  display: flex;
 -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
          text-align: center;
  
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
